@import url(./_variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 1.1vw;
    --slide-color: #e42c3c;
    --scrollbar-color: var(--slide-color);

    @media screen and (max-width: $mobile) {
        font-size: 3.2vw;
    }
}

html {
    background-color: $background;

    font-family: "Geologica", sans-serif;
    font-weight: 300;
    color: $text-color-primary;
    line-height: 1.2;
}

body {
    min-width: 100dvw;
    min-height: 100dvh;

    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior-x: none;
    touch-action: pan-y;

    font-size: 1rem;

    scroll-behavior: auto !important;
    scrollbar-width: 0;
}

#__nuxt {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    display: none;
}

hr {
    width: 100%;
    height: 1px;

    outline: none;
    border: none;

    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.08) 50.46%,
        rgba(255, 255, 255, 0) 100%
    );
}
